body{
    background: #dadae3;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    background: linear-gradient(to bottom right, rgb(255, 56, 56), rgb(255, 157, 118), rgb(255, 56, 56));
    color: white;
}

footer{
    color: darkslategrey
}

.wrapper >*{
    justify-self: center;
    align-self: center;
    text-align: center;
    padding: 0;
    margin: 0;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content max-content;
    grid-gap: 0;
    padding: 0;
    margin: 0;
    height: 97vh;
    width: 100%;
}

.title{
    height: min-content;
    padding: 0;
    margin: 0;
}

.content{
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}

a{
    display: block;
    text-decoration: none;
}

.btn-fullspan{
    width: 100%;
}

.btn-bluesky{
    display: block;
    padding: 1em;
    font-size: 1.5em;
    height: max-content;
    width: max-content;
    color: white;
    background: #00C6C2;
    border: 1px solid #00C6C2;
    border-radius: 10px;
    transition: 0.2s;
}

.btn-bluesky:hover{
    color: white;
    background: rgb(0, 136, 134);
    border: 1px solid rgb(0, 136, 134);
}

.btn-green{
    display: block;
    padding: 1em;
    font-size: 1.5em;
    height: max-content;
    width: max-content;
    color: lime;
    background: transparent;
    border: 1px solid lime;
    border-radius: 10px;
    transition: 0.2s;
}

.btn-green:hover{
    color: white;
    background: lime;
}

.error-message{
    color: crimson;
    margin: auto;
    width: max-content;
}

.mainbtn{
    display: block;
    text-align: center;
    background: transparent;
    padding: 1vh 0;
}

.mainbtn >* {
    margin: 10px auto;
    text-align: center;
}