Package: com.repo.xarold.com.tsssaver
Name: TSS Saver
Version: 1.2.0
Architecture: iphoneos-arm
Description: A one-click tool to save blobs using TSSsaver.1conan.com
Depiction: http://repo.xarold.com/depiction.php?id=tsssaver
Author: Jamie Bishop 
Section: Utilities
Depends: com.modmyi.libswift4 (>= 4.0.3), firmware (>= 8.0)
Maintainer: Xarold <contact@xarold.com>

